.footer
  padding: 80px 0
  border-top: 1px solid #E0E0E0

  +media(s)
    padding: 44px 0 32px
  
.footer__row
  display: flex
  align-items: center
  justify-content: space-between
  
.footer__text
  font-size: 16px
  line-height: 21px
  color: #616161

  +media(s)
    font-size: 12px
    line-height: 16px

.footer__logo
  +media(s)
    max-width: 64px

.footer__social-img
  +media(s)
    max-width: 18px
